<% content_for(:title, @link.user_name) %>

<div class="main">
  <ol>
  <% @link.comments.each do |comment| %>
    <li>
        <%= "\u25B2" %>
        <%= comment.user_name %>
        <%= time_ago_in_words(comment.created_at) %>
        <%= link_to 'link', root_path %>
    </li>
  <% end %>
  </ol>
</div>
