  <div class="header">
    <!-- Right Nav Section -->
    <ul class="float-right">
      <li><a href="#">login</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="float-left">
      <li><a class="brand" href="/">Fake Hacker News</a></li>
      <li><a href="/links/new">new</a> |</li>
      <li><a href="#">comments</a> |</li>
      <li><a href="#">ask</a> |</li>
      <li><a href="#">jobs</a> |</li>
      <li><a href="#">submit</a></li>
    </ul>
  </div>
